body {
    font-family: "Source Code Pro", sans-serif;
    background-color: #121212;
    color: white;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

a:link {
    color: #FF8811;
}

a:visited {
    color: #04E762;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-bottom: 30px;
}

.footer-links {
    margin: 10px 10px 0;
    padding: 20px 20px 0;
}

.footer-links li {
    float: left;
    display: inline;
    margin-right: 15px;
}

.footer-links li:nth-child(5) {
    float: right;
    margin-right: 0;
}


header {
    background-color: #FF8811;
    padding: 5px 0 5px 0;
    width: 100%;
    align-content: center;
}

header h1 {
    padding-left: 30px;
}

header img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: top;
    float: right;
    margin: 10px 30px 10px 0;
}

h2 {
    color: #FF8811;
    margin-bottom: 30px;
}

.mark1 {
    color: #FF8811;
}

.mark2 {
    color: #349AD5;
}

article {
    margin: 10px;
    padding: 10px 20px 2.5rem;
}

.container {
    margin: 10px;
    padding: 10px 20px 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.selectionButtons {
    list-style: none;
}

.selB {
    border: none;
    background-color: #FF8811;
    padding: 20px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    width: 100%;
    margin: 20px auto;
}

#question {
    visibility: hidden;
}

#feedback {
    visibility: hidden;
}

#ansQ{
    background-color: #282828;
    border: none;
    color: white;
    font-size: medium;
    font-family: "Source Code Pro", sans-serif;
    visibility: hidden;
}

#ansQ:focus {
    outline: none;
}

.playAgain {
    border: none;
    background-color: #FF8811;
    padding: 20px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin-bottom: 150px;
    margin-top: 20px;
}

.pAgain {
    display: flex;
    justify-content: center;
}

.startGame {
    border: none;
    background-color: #FF8811;
    padding: 30px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin-bottom: 150px;
}

.startG {
    display: flex;
    justify-content: center;
}


.score {
    color: #FF8811;
}

.game {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game img {
    margin: 2px;
    height: 150px;
    width: 100px;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: white;
}

.game img.flip {
    transform: rotateY(180deg);
    object-fit: contain;
}

.guessed {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.guessed img {
    margin: 2px;
    height: 150px;
    width: 100px;
    object-fit: contain;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: white;
}

.messages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px;
    column-gap: 20px;
    row-gap: 15px;
    justify-self: center;
}

