body {
    font-family: "Source Code Pro", sans-serif;
    background-color: #121212;
    color: white;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

a:link {
    color: #FF8811;
}

a:visited {
    color: #04E762;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-bottom: 30px;
}

.footer-links {
    margin: 10px 10px 0;
    padding: 20px 20px 0;
}

.footer-links li {
    float: left;
    display: inline;
    margin-right: 15px;
}

.footer-links li:nth-child(5) {
    float: right;
    margin-right: 0;
}


header {
    background-color: #FF8811;
    padding: 5px 0 5px 0;
    width: 100%;
    align-content: center;
}

header h1 {
    padding-left: 30px;
}

header img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: top;
    float: right;
    margin: 10px 30px 10px 0;
}

h2 {
    color: #FF8811;
    margin-bottom: 30px;
}

.mark1 {
    color: #FF8811;
}

.mark2 {
    color: #349AD5;
}

article {
    margin: 10px;
    padding: 10px 20px 2.5rem;
}

.container {
    margin: 10px;
    padding: 10px 20px 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.selectionButtons {
    list-style: none;
}

.selB {
    border: none;
    background-color: #FF8811;
    padding: 20px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    width: 100%;
    margin: 20px auto;
}

#question {
    visibility: hidden;
}

#feedback {
    visibility: hidden;
}

#ansQ {
    background-color: #282828;
    border: none;
    color: white;
    font-size: medium;
    font-family: "Source Code Pro", sans-serif;
    visibility: hidden;
}

#ansQ:focus {
    outline: none;
}

.playAgain {
    border: none;
    background-color: #FF8811;
    padding: 20px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin-bottom: 150px;
    margin-top: 20px;
}

.pAgain {
    display: flex;
    justify-content: center;
}

.startGame {
    border: none;
    background-color: #FF8811;
    padding: 30px;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    margin-bottom: 150px;
}

.startG {
    display: flex;
    justify-content: center;
}


.score {
    color: #FF8811;
}

.game {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game img {
    margin: 2px;
    height: 150px;
    width: 100px;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: white;
}

.game img.flip {
    transform: rotateY(180deg);
    object-fit: contain;
}

.guessed {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.guessed img {
    margin: 2px;
    height: 150px;
    width: 100px;
    object-fit: contain;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: white;
}

.messages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px;
    column-gap: 20px;
    row-gap: 15px;
    justify-self: center;
}

.containerCS {
    display:grid;

    grid-template-columns: [start] 6fr [line2] 1fr [end];
    margin: 10px;
    padding: 10px 20px 2.5rem;

}

#table {
    margin-right: 20px;
    grid-column-start: start;
    grid-column-end: line2;
    display: grid;
    grid-template-columns:[first] 1fr [line2] 5fr [end];
    grid-column-gap: 0;
    grid-template-rows: [row1] 1fr [row2] 13fr [row3];
    grid-row-gap: 0;
    text-align: center;
    grid-template-areas:
    "weekdays weekdays"
    "time content";
}

#weekday {
    grid-area: weekdays;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#weekday p {
    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-color: #121212;
    border-right-width: 1px;
    padding: 10px;
    margin:0;
    background-color: #FF8811;
}

#time {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(14,1fr);
}

#time p {
    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-color: #121212;
    border-right-width: 1px;
    padding: 10px;
    margin:0;
    background-color: #349AD5;
}

#content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: repeat(5,1fr);
}

#content p {
    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-color: #121212;
    border-right-width: 1px;
    background-color: #282828;
    padding: 10px;
    margin:0;
}


#containerBoxes {
    grid-column-start: line2;
    grid-column-end: end;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
}

#containerBoxes div:not(:first-child) {
    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 1px;
    padding: 10px;
    margin:0;
    background-color: #BA274A;
}

#containerBoxes p{
    border-bottom-style: solid;
    border-bottom-color: #121212;
    border-bottom-width: 1px;
    padding: 10px;
    margin:0;
    background-color: #FF8811;
}

#disc {
    grid-row-start: 1;
    grid-row-end: 2;
}

#infG {
    grid-row-start: 2;
    grid-row-end: 3;
}

#pro {
    grid-row-start: 3;
    grid-row-end: 5;
}

#abw {
    grid-row-start: 5;
    grid-row-end: 8;
}

#kat {
    grid-row-start: 8;
    grid-row-end: 10;
}

#infE {
    grid-row-start: 10;
    grid-row-end: 13;
}

#mar {
    grid-row-start: 13;
    grid-row-end: 16;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: darkred; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}